*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #14bc39;
    --sec-color: #bde3c6;
    --back-color: #f8f8f8;
}

.table_icon{
    width: 100%;
}
.modal{
    display: none;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    background-color: white;
    border: black solid 1px;
    width: 400px;
    height: fit-content;
    padding: 20px;
    right: 10px;
    bottom: 20px;
    animation-name: slideLeft;
    animation-duration: 0.5s;
    box-shadow: 0 0 10px black;
}
.modal input, .modal button{
    width: 90%;
}
.close{
    position: absolute;
    right: inherit;
}
body{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-family: 'Roboto', sans-serif;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: var(--main-color);
    box-shadow: 0 0 5px black;
}

h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 20px;
}

.description{
    border-bottom: var(--main-color) solid 1px;
    padding: 5px;
}

.description p{
    font-size: small;
    padding: 2px;
}

.field_place{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input{
    padding:7px;
    border-radius: 5px;
    border:var(--main-color) 1px solid;
    width: 33vw;
    height: 3em;
    background-color: var(--back-color);
}

button{
    width: 20vw;
    height: 3em;
    background-color: #14bc39;
    color: white;
    border: #14bc39;
    border-radius: 5px;
}

table{
    border: 1px solid black;
    width: 80vw;
}

th, td, tr{
    border: 1px solid black;
    padding: 5px;
}

@keyframes slideLeft{
    from{right: -300px;}
    to{right: 10px;}
}